# Site settings
title:       Isaac Reid-Guest
email:       isaac.reid.guest@gmail.com
author:      Isaac Reid-Guest
description: "An ocassional web outpost of Isaac Reid-Guest."
baseurl:     ""
url:         "http://isaacrg.me/"

# Google analytics
google_analytics:

# Optional features
animated:           false
show_related_posts: false
show_post_footers:  false

# Social icons
show_social_icons: false
github_username:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Build settings
markdown:     kramdown
permalink:    pretty
paginate:     3
sass:
  compressed: true
