<!--
Parent paths[0]: {{ page.parent_path }}
Current path:    {{ page.url }}
{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
page_url_without_index_html:    {{ page_url_without_index_html }}
splitted_url_parts:             {{ splitted_url_parts }}
first_part:                     {{ splitted_url_parts[1] }}
parts:                          {% for part in splitted_url_parts %}{{ part }} - {% endfor %}
is_post:                        {{ page.is_post }}
{% if page.is_post %}
{% assign page.blogmenu = true %}
{% elsif splitted_url_parts[1] == "blog" %}
{% assign page.blogmenu = true %}
{% else %}
{% assign page.blogmenu = false %}
{% endif %}
blogmenu:                       {{ page.blogmenu }}
-->



<a {% if page.url == "/" %}class="active"{%endif%} href="{{ site.baseurl }}/">Home</a>
<a {% if page.blogmenu %}class="active"{%endif%} href="{{ site.baseurl }}/blog/">Blog</a>
<a {% if splitted_url_parts[1] == "contact" %}class="active"{%endif%} href="{{ site.baseurl }}/contact/">Contact</a>
